<h1>Login</h1>
<a href="users/new" id="new-user-link">Sign Up</a>
<form class="new-session">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit">
</form>